@import 'tailwindcss';

:root {
  --mobile-width: 440px;
  --mobile-height: 800px;
  --layout-radius: 12px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f3f3f3;
  overflow-y: hidden;
  overflow-x: hidden;
}

#app {
  width: var(--mobile-width);
  height: var(--mobile-height);
  background: white;
  overflow-y: hidden;
  overflow-x: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}
@media (max-width: 440px) {
  #app {
    width: 100%;
    height: 100vh;
  }
}

@media (min-width: 440px) {
  #app {
    border: 1px solid #ddd;
    border-radius: var(--layout-radius);
  }
}
